## Center String Method
<p>This method will center align the string using a specified character(space is deault) as the fill character.</p>

In [40]:
#this method will align the string in center.
var = 'Banana' 
var1 = var.center(10)

In [42]:
print(f'var1:', var1)

var1:   Banana

In [38]:
#In this example we fill the space with character.
text = 'Hello'
ab = text.center(20, "a")
print(f'ab:',ab)

ab: aaaaaaaHelloaaaaaaaa

## Count String Method
<p>this method returns the number of time a value is appears in the string.</p>

In [59]:
#It return the number of time the value 'how' appears in string.
var = 'Hello everyone how are you'
var2 = var.count('how')

In [48]:
print(f'var2:',var2)

var2: 1

In [61]:
#In this example we give the start value and end value to search the values.
var = 'hello we are learing python'
var3 = var.count('we', 10, 15)
print(f'var3:',var3)

var3: 0

## Capitalize String Method
<p>This method returns a string where the first character is upper case and the rest is lower case.</p>

In [80]:
#In this example it converted lower case string into upper case . 
var = 'hello everyone'
op = var.capitalize()

In [74]:
print(op)

Hello everyone

In [82]:
# this mehtod converted first character into upper case and rest is lower .
var = 'hello Everyone'
op = var.capitalize()
print(f'op:',op)

op: Hello everyone

In [91]:
# if first character is number then also print the value
var = '29 sept'
op = var.capitalize()
print(f'op:',op)

op: 29 sept

## Casefold String Method
<p>Casefold method convered the upper case into lower case and returns the string where all characters are lower case. <br>
This method is similar as lower() method but the casefold() method is stronger, more aggressive, meaning that it will convert more characters into<br> lower case, and will find more matches when comparing two strings and both are converted using the casefold() method.</p>

In [98]:
#In this ex casefold method converts the upper case character into lower case and returns the string in lower case.
var = 'Hello Everyone How Are You'
op = var.casefold()

In [96]:
print(f'op:',op)

op: hello everyone how are you

## Endswith String Method
<p>This method returns the true value if the string ends with the specified value otherwise it returns false.</p>

In [4]:
#In this example the string ends with the punctuation sign(fullstop) (.), that's why it returns the true value.
var = 'Hello my name is hitesh.'
op = var.endswith(".")

In [6]:
print(f'op:',op)

op: True

In [22]:
#it return false bcz we give the start value and end value to check "hitesh." this phrase is lies in this position 5 to 15.
var = 'Hello my name is hitesh.'
op = var.endswith("hitesh.", 5, 15)

In [24]:
print(f'op:',op)

op: False

## Expandtabs String Method
<p>This method set the tabs size to the specified number of whitespaces.</p>

In [33]:
#In this example we set the value 2 and exapndtab method returns the string with 2 whitespaces
var = 'h\te\tl\tl\to'
op = var.expandtabs(2)

In [35]:
print(f'op:',op)

op: h e l l o

In [45]:
#In this example we set different values to see the result.
var = 'h\te\tl\tl\to'
print(f'expandtabs:',var)
print(f'exapndtabs(2):',var.expandtabs(2))
print(f'exapndtabs(4):',var.expandtabs(4))

expandtabs: h	e	l	l	o
exapndtabs(2): h e l l o
exapndtabs(4): h   e   l   l   o

## Find String Method
<p>This method finds the first occurance of the specified value.<br>
find() method returns -1 if the value is not found.<br>
It is similar as index() method but the only difference is that the index() method raises an exception if the value is not found. </p>

In [48]:
#In this we find 'y' in the string and in the result give the number 10 bcz the 'y' character occurs first at 10 position.
var = "Hello everyone how are you"
op = var.find('y')

In [50]:
print(f'op:',op)

op: 10

In [52]:
var = "Hello everyone how are you"
op = var.find('y', 5, 15)
print(f'op:',op)

op: 10

## Format String Method
<p>This method formats the specified value and insert them into the string's placeholder.<br>
format() method returns formatted string.</p>

In [59]:
#Insert the age in placeholder and print the formatted string
var = 'I am {age} years old'
print(var.format(age = 24))

I am 24 years old

In [63]:
var = 'My name is {name}, I am {age}'
op = var.format(name = 'hitesh', age = 24)
print(f'op:',op)

op: My name is hitesh, I am 24

## Index String Method
<p>This method finds the first occurance of the specified value.<br>
It is similar like find() method.</p>

In [68]:
#finds the first occurance of the 'v' character.
var = 'hello everyone'
op = var.index('v')
print(f'op:',op)

op: 7

In [72]:
#In index method if the value is not found it gives you valueError: substring not found.
var = 'hello everyone'
op = var.index('t')
print(f'op:',op)

ValueError: substring not found

## isalnum String Method
<p>This method returns true if all the characters are alphanumeric, meaning alphabet (a-z) and numbers (0-9). </p>

In [77]:
#In this example we set alphanumeric value so it reurns true in the output.
var = 'Arcda9'
op = var.isalnum()
print(f'op:',op)

op: True

In [81]:
#This time it give false bcz alphanumeric not contain space that's why it give false in the output.
var = 'Arcda 9'
op = var.isalnum()
print(f'op:',op)

op: False

## isalpha String Method
<p>This method returns true if all the characters are alphabets.</p>

In [86]:
# It give true bcz we set string alphabet.
var = 'arcDa'
op = var.isalpha()
print(f'op:',op)

op: True

In [90]:
# this time we set alphanumeric string so it give false in output.
var = 'arcDa9'
op = var.isalpha()
print(f'op:',op)

op: False

## isdecimal String Method
<p>This method returns true if the all the characters are decimal (0-9).<br>
This method can also be used on unicode objects.</p>

In [96]:
#In this example it give true bcz we set the character decimal.
var = "123456"
op = var.isdecimal()
print(f'op:',op)

op: True

In [114]:
#This time it give false bcz the unicode we set is for G that's why it give false result.
var = "\u0047"
op = var.isdecimal()
print(f'op:',op)

op: False

## isdigit String Method
<p>This method returns true if all character are digit otherwise false.<br>
Exponents, like ², are also considered to be a digit.</p>

In [117]:
var = "123456"
op = var.isdigit()
print(f'op:',op)

op: True

In [119]:
var = "\u00B2"
op = var.isdigit()
print(f'op:',op)

op: True

## isidentifier String Method
<p>This method returns true if the string is a valid identifier other false.<br>
A string is considered a valid identifier if it only contains alphanumeric letters (a-z) and (0-9), or underscores (_).<br>
A valid identifier cannot start with a number, or contain any spaces.</p>

In [124]:
#It give give true bcz we give the alphanumeric value.
var = 'Hello1'
op = var.isidentifier()
print(f'op:',op)

op: True

In [128]:
var = 'Hello1'
var1 = 'Hello world'
var2 = 'arc_Da9'
op = var.isidentifier()
op1 = var1.isidentifier()
op2 = var2.isidentifier()
print(f'op:',op)
print(f'op1:',op1)
print(f'op2:',op2)

op: True
op1: False
op2: True

## islower String Method 
<p>This method returns true if all the characters are in lower case otherwise it return false.<br>
Numbers, symbols and spaces are not checked, only alphabet characters.</p>

In [4]:
#It give true bcz we set all characters in lower case.
var = 'hello everyone'
op = var.islower()
print(f'op:',op)

op: True

In [10]:
#var2 is false bcz the starting character is in upper case and islower method not checked the numbers.
var = 'hello everyone'
var1 = 'hello 123'
var2 = 'Hello everyone'
print(f'var:',var.islower())
print(f'var1:',var1.islower())
print(f'var2:',var2.islower())

var: True
var1: True
var2: False

## isupper String Method
<p>This method returns true if all the characters are in upper case otherwise it return false.<br>
Numbers, symbols and spaces are not checked, only alphabet characters.</p>

In [15]:
#var return true bcz all the character in var are in upper case and in var1 only the starting character in upper case that's why it return false.
var = 'HELLO EVERYONE'
var1 = 'Hello Everyone'
print(f'var:',var.isupper())
print(f'var1:',var1.isupper())

var: True
var1: False

In [17]:
var = 'HELLO EVERYONE'
var1 = 'Hello Everyone'
var2 = 'HELLO 123'
print(f'var:',var.isupper())
print(f'var1:',var1.isupper())
print(f'var2:',var2.isupper())

var: True
var1: False
var2: True

## isnumeric String Method
<p>This method returns true if all the characters are numeric (0-9) otherwise false.<br>
Exponents, like ² and 3/4 are also considered to be numeric values.<br>"-1" and "1.5" are NOT considered numeric values.</p>

In [22]:
#var return true bcz all character are numeric and in var1 we set minus sign (-) that's why it return false.
var = '123456'
var1 = '-2'
print(f'var:',var.isnumeric())
print(f'var1:',var1.isnumeric())

var: True
var1: False

## isprintable String Method
<p>This method returns true if all the characters are printable otherwise false.<br>
printable: printable character inculdes letter,digits and special punctuation such as commas,bracket and question marks.<br>
Unprintable: Unprintable character correspond to code that indicate a special function such as line feed, tab and carriage return. </p>

In [29]:
# It return true bcz we set printable format correctly
var = 'abc123,(1)?'
op = var.isprintable()
print(f'op:',op)

op: True

In [45]:
var = 'abc123,(1)?'
var1 = "Hello!\nAre you #1?"
print(f'var:',var.isprintable())
print(f'var1:',var1.isprintable())

var: True
var1: False

## isspace String Method
<p>This method returns true if all character in the string are whitespace otherwise false. </p>

In [48]:
var = '          '
op = var.isspace()
print(f'op:',op)

op: True

In [58]:
#It reurns false bcz isspace method check only whitespace if the character in the string then it give false.
var = 'hello    everyone'
print(var.isspace())

False

## istitle String Method
<p>This method returns true if all the words in the text start with upper case letter and the rest of the words are in lower<br>
case letter otherwise false. Symbols and numbers are ignored</p>

In [65]:
#It return true bcz each words start with upper case letter.
var = 'Hello Everyone How Are You'
op = var.istitle()
print(f'op:',op)

op: True

In [71]:
#var1 retrun false bcz second word start with lower case letter.
var = 'Hello Everyone How Are You'
var1 = 'Hello everyone'
var2 = 'Hello 123'
print(f'var:',var.istitle())
print(f'var1:',var1.istitle())
print(f'var2:',var2.istitle())

var: True
var1: False
var2: True

## join String Method
<p>This method takes all the items in an iterable and joins them into one string.A string must be specified as the separator.<br>
iterable: Required. Any iterable object where all the returned values are strings</p>

In [99]:
# join method is use to join two strings into one string.
var = ('Hello', 'Everyone')
op = ' '.join(var)
print(f'op:',op)

op: Hello Everyone

## ljust String Method
<p>This method will left algin the string using a specified character (space is default) as the fill character. </p>

In [91]:
#In this result there are actually 5 whitespace to right of the word Hello.
var = 'Hello'
op = var.ljust(10)
print(f'op:',op, 'everyone')

op: Hello      everyone

## lower String Method
<p>This method returns string where all characters are in lower case means it convert the upper case letter into lower case and show result.</p>

In [95]:
# In this reult we filled the 5 whitspace with 1 number (padding character).
var = 'Hello'
print(var.ljust(10, '1'))

Hello11111

In [104]:
# It convert the upper case letter into lower case and show the result.
var = 'Hello EVERYONE'
op = var.lower()
print(f'op:',op)

op: hello everyone

In [106]:
var = 'hello'
op = var.lower()
print(f'op:',op)

op: hello

## lstrip String Method
<p>This method removes any leading character(space is the default leading character to remove).</p>

In [111]:
# it removes the left space of the string.
var = '      Hello        '
op = var.lstrip()
print(f'op:',op, '123')

op: Hello         123

In [117]:
#we asign 123 so lstrip method removes the 123 from the string .
var = '123Hello'
op = var.lstrip('123')
print(f'op:',op)

op: Hello

## maketrans String Method
<p>The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.
 </p>

In [122]:
#it replace the d character with s character.
var = 'Hello world'
op = str.maketrans('d','s')
print(var.translate(op))

Hello worls

## partition String Method
<p>This method search a sepcified string and splits the string into tuple containing three elements.</p>
<p>The first element contains the part before the specified string.</p>
<p>The second element contains the specified string.</p>.<p>The third element contains the part after the string.</p>
</p>

In [136]:
#It search the word how and seprated the before match, match, after match.
var = 'Hello everyone how are you'
op = var.partition('how')
print(f'op:',op)

op: ('Hello everyone ', 'how', ' are you')

In [138]:
var = 'Hello everyone how are you'
op = var.partition('it')
print(f'op:',op)

op: ('Hello everyone how are you', '', '')

## replace String Method
<p>This method replace the specified string with another specified string.</p>

In [141]:
var = 'Hello everyone'
op = var.replace('everyone' , 'Hitesh')
print(f'op:',op)

op: Hello Hitesh

In [143]:
var = 'Hello everyone Hello'
op = var.replace('Hello' , 'listen')
print(f'op:',op)

op: listen everyone listen

## rfind String Method
<p>This method finds the last occurance of the specified character. It return -1 if the value is not found.<br>
It is like rindex method</p>

In [148]:
# it find last occurance of the e character and show in number.
var = 'Hello welcome everyone'
print(f'var:',var.rfind('e'))

var: 21

## rindex String Method
<p>This method find the last occurance of the specified character. It raises an exception if the value is not found. </p>

In [151]:
var = 'Hello everyone'
print(f'varr:',var.rindex('v'))

varr: 7

In [155]:
#value not found it raises valueError string not found.
var = 'Hello everyone'
print(f'varr:',var.rindex('a'))

ValueError: substring not found

## rjust String Method
<p>This method will right align the string using a specified character(space is default) as the fill character. </p>

In [168]:
var = 'Hello'
print(f'var:',var.rjust(15), 'sam')

var:           Hello sam

In [170]:
var = 'Hello'
print(f'var:',var.rjust(15, '1'))

var: 1111111111Hello

## rpartition String Method
<p>This method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.<br>
It is similar as partition method .</p>

In [175]:
var = 'Hello everyone how are you'
op = var.rpartition('how')
print(f'op:',op)

op: ('Hello everyone ', 'how', ' are you')

In [177]:
var = 'Hello everyone how are you'
op = var.rpartition('who')
print(f'op:',op)

op: ('', '', 'Hello everyone how are you')

## rsplit String Method
<p>This method splits the string into a list strating from the right.<br>
If no "max" is specified, this method will return the same as the split method.</p>

In [184]:
#It create a list with comma and space.
var = 'car,bike,phone'
op = var.rsplit(', ')
print(f'op:',op)

op: ['car,bike,phone']

In [190]:
var = 'car,bike,phone'
op = var.rsplit(', ', 1)
print(f'op:',op)

op: ['car,bike,phone']

## split String Method
<p>The split method splits a string into a list.
You can specify the separator, default separator is any whitespace.
</p>

In [195]:
#split method directly seprated the string and make list
var = 'Hello everyone how are you'
print(f'var:',var.split())

var: ['Hello', 'everyone', 'how', 'are', 'you']

## splitline String Method
<p>This method split the string into list, the spliting is done at line break. </p>

In [204]:
var = 'Hello everyone how\nare you'
print(f'var:',var.splitlines())

var: ['Hello everyone how', 'are you']

## swapcase String Method
<p>This method returns a string where all the upper case letter are lower case and vice versa.</p>

In [209]:
#it change upper case into lower case and vice versa.
var = 'Hello Everyone'
print(f'var:',var.swapcase())

var: hELLO eVERYONE

## zfill String Method
<p>This method adds zeros(0) at the begining of the string until it reaches the specified length.<br>
If the value of the len parameter is less than the length of the string, no filling is done.</p>

In [216]:
#it add zero at the begining of the string bcz length is specified.
var = 'Hello'
print(f'var:',var.zfill(10))

var: 00000Hello

In [220]:
#this time var1 return as same bcz the length of the string max then specified.
var = 'Hello'
var1 = 'Hello everyone how are you'
print(f'var:',var.zfill(10))
print(f'var1:',var1.zfill(10))

var: 00000Hello
var1: Hello everyone how are you